# Import Libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# url1="https://www.daraz.pk/catalog/?spm=a2a0e.home.cate_7_1.12.1a014076iZT31f&q=samsung%20%20mobile&_keyori=ss&clickTrackInfo=textId--5062603309516099878__abId--300703__pvid--35b2f2d7-4e10-4983-9732-723540879cb9__matchType--1__srcQuery--samsung%20%20mobile__spellQuery--samsung%20%20mobile&from=suggest_normal&sugg=samsung%20%20mobile_1_1"
url1="https://homeshopping.pk/categories/Samsung-Mobile-Prices-In-Pakistan/"
url2="https://priceoye.pk/mobiles/samsung"

# Web Scrapping of Samsung Phones (Product) from Home Shopping (E-Commerce Website)

In [3]:
r1=requests.get(url1)

In [4]:
soup1=BeautifulSoup(r1.text,"lxml")

In [5]:
# Find all elements with class "ProductDetails"
name1= soup1.find_all('h5', class_='ProductDetails')

In [8]:
# Find all elements with class "ActualPrice"
price1= soup1.find_all('div', class_='ActualPrice')

In [9]:
# Initialize lists to store product names
product_names = []
# Loop through each product listing
for name in name1:
    product_name = name.a.text.strip()
    product_names.append(product_name)

In [10]:
# Initialize lists to store product prices
prices = [] 
# Loop through each price element
for price_element in price1:
    price = price_element.text.strip()
    prices.append(price)

In [11]:
# Create a DataFrame with two columns
df1 = pd.DataFrame({'Product': product_names, 'Price': prices})

# Print the DataFrame
print(df1)

                                              Product       Price
0   Samsung Galaxy A14 (4G 4GB 64GB Black Mist w/o...   Rs 36,699
1   Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...  Rs 117,999
2   Samsung Galaxy S22 Ultra (5G 12GB 256GB Burgun...  Rs 341,999
3   Samsung Galaxy A03 (4G 4GB 64GB Black) With Of...   Rs 35,299
4   Samsung Galaxy S23 Ultra (5G 12GB 256GB Green)...  Rs 288,999
5   Samsung Galaxy A04s (4G 4GB 128GB Awesome Whit...   Rs 39,700
6   Samsung Galaxy A24 (4G 8GB 128GB Silver) With ...   Rs 76,099
7   Samsung Galaxy Z Flip 4 (5G 8GB 256GB Blue) - ...  Rs 224,999
8   Samsung Galaxy A13 (4G 4GB 64GB Awesome Black)...   Rs 50,499
9   Samsung Galaxy A04 (4G 4GB 64GB Black) With Of...   Rs 35,399
10  Samsung Galaxy A24 (4G 6GB 128GB Black) With O...   Rs 71,099
11  Samsung Galaxy A04 (4G 3GB 32GB Green) With Of...   Rs 34,999
12  Samsung Galaxy A54 (5G 8GB 128GB Awesome Lime)...  Rs 166,599
13  Samsung Galaxy A14 (4G 6GB 128GB Green) - With...   Rs 54,399
14  Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...  Rs 139,099
15  Samsung Galaxy A14 (4G 4GB 128GB Black Mist) -...   Rs 52,299
16  Samsung Galaxy A13 (4G 4GB 128GB Awesome Black...   Rs 53,499
17  Samsung Galaxy A34 (5G 8GB 128GB Awesome Lime)...  Rs 142,499
18  Samsung Galaxy A14 (4G 4GB 128GB Green) - With...   Rs 52,299
19  Samsung Galaxy S22 Ultra (5G 12GB 256GB White)...  Rs 341,999
20  Samsung Galaxy A13 (4G 4GB 64GB Awesome Blue) ...   Rs 50,499
21  Samsung Galaxy A04 (4G 4GB 64GB White) With Of...   Rs 39,399
22  Samsung Galaxy S23 Ultra (5G 12GB 256GB Cream)...  Rs 288,999
23  Samsung Galaxy A04 (4G 4GB 64GB Copper) With O...   Rs 35,399

In [12]:
# Remove text within parentheses using regular expressions
df1['Product'] = df1['Product'].str.replace(r'\([^)]*\)', '', regex=True)

In [13]:
# Split the "Details" column at the hyphen and keep only the part before the hyphen
df1['Product'] = df1['Product'].str.split(' - ').str[0]

In [14]:
# Remove "With Official Warranty" if it appears at the end of the "Details" column
df1['Product'] = df1['Product'].str.replace(r'\s*With Official Warranty$', '', regex=True)

In [15]:
# Remove "With Official Warranty" if it appears at the end of the "Details" column
df1['Product'] = df1['Product'].str.replace("-", '')

In [16]:
# Remove "Rs" from the "Price" column
df1['Price'] = df1['Price'].str.replace('Rs', '')

In [31]:
# Remove "," from the "Price" column
df1['Price'] = df1['Price'].str.replace(',', '')

In [32]:
# Remove leading and trailing spaces from both columns
df1['Product']= df1['Product'].str.strip()
df1['Price'] = df1['Price'].str.strip()

# Print the updated DataFrame
print(df1)

                     Product   Price
0         Samsung Galaxy A14   36699
1         Samsung Galaxy A54  117999
2   Samsung Galaxy S22 Ultra  341999
3         Samsung Galaxy A03   35299
4   Samsung Galaxy S23 Ultra  288999
5        Samsung Galaxy A04s   39700
6         Samsung Galaxy A24   76099
7    Samsung Galaxy Z Flip 4  224999
8         Samsung Galaxy A13   50499
9         Samsung Galaxy A04   35399
10        Samsung Galaxy A24   71099
11        Samsung Galaxy A04   34999
12        Samsung Galaxy A54  166599
13        Samsung Galaxy A14   54399
14        Samsung Galaxy A54  139099
15        Samsung Galaxy A14   52299
16        Samsung Galaxy A13   53499
17        Samsung Galaxy A34  142499
21        Samsung Galaxy A04   39399

# Dealing with duplicates and missing values

In [18]:
df1.duplicated().sum()

5

In [19]:
df1.isnull().sum().sum()

0

In [20]:
df1.drop_duplicates(inplace=True)

In [33]:
df1

                     Product   Price
0         Samsung Galaxy A14   36699
1         Samsung Galaxy A54  117999
2   Samsung Galaxy S22 Ultra  341999
3         Samsung Galaxy A03   35299
4   Samsung Galaxy S23 Ultra  288999
5        Samsung Galaxy A04s   39700
6         Samsung Galaxy A24   76099
7    Samsung Galaxy Z Flip 4  224999
8         Samsung Galaxy A13   50499
9         Samsung Galaxy A04   35399
10        Samsung Galaxy A24   71099
11        Samsung Galaxy A04   34999
12        Samsung Galaxy A54  166599
13        Samsung Galaxy A14   54399
14        Samsung Galaxy A54  139099
15        Samsung Galaxy A14   52299
16        Samsung Galaxy A13   53499
17        Samsung Galaxy A34  142499
21        Samsung Galaxy A04   39399

# Web Scrapping of Samsung Phones (Product) from Priceoye (E-Commerce Website)

In [22]:
r2=requests.get(url2)

In [23]:
soup2=BeautifulSoup(r2.text,"lxml")

In [24]:
# Find all elements with class 'p-title bold h5' and 'price-box p1'
name2 = soup2.find_all('div', class_='p-title bold h5')
price2 = soup2.find_all('div', class_='price-box p1')

In [25]:
# Initialize lists to store product names and prices
product_names = []
product_prices = []
# Loop through each product listing
for name in name2:
    product_name = name.text.strip()
    product_names.append(product_name)
    
for price in price2:
    product_price = price.text.strip()
    product_prices.append(product_price)

In [26]:
# Create a DataFrame with two columns
df2 = pd.DataFrame({'Product': product_names, 'Price': product_prices})

In [27]:
# Remove "Rs" from the "Price" column
df2['Price'] = df2['Price'].str.replace('Rs.', '')

C:\Users\Comfinite\AppData\Local\Temp\ipykernel_12656\3955493633.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df2['Price'] = df2['Price'].str.replace('Rs.', '')

In [28]:
# Remove "Rs" from the "Price" column
df2['Price'] = df2['Price'].str.replace(',', '')

In [30]:
# Remove leading and trailing spaces from both columns
df1['Product']= df1['Product'].str.strip()
df1['Price'] = df1['Price'].str.strip()

# Print the updated DataFrame
print(df2)

                       Product    Price
0           Samsung Galaxy A13    45799
1           Samsung Galaxy A14    49999
2          Samsung Galaxy A04s    36199
3        Samsung Galaxy A24 4G    67499
4           Samsung Galaxy A04    27199
5          Samsung Galaxy A04e    29099
6     Samsung Galaxy S22 Ultra   375499
7      Samsung Galaxy Z Flip 5   349999
8        Samsung Galaxy A33 5G   105999
9        Samsung Galaxy A54 5G   140999
10    Samsung Galaxy S23 Ultra   504999
11     Samsung Galaxy Z Fold 4   499999
12     Samsung Galaxy Z Flip 4   255499
13          Samsung Galaxy A34   104999
14          Samsung Galaxy A22    66499
15       Samsung Galaxy S21 FE   194999
16       Samsung Galaxy A53 5G   121499
17          Samsung Galaxy S22   265999
18          Samsung Galaxy S23   359999
19          Samsung Galaxy A73   197999
20     Samsung Galaxy Z Fold 5   526999
21          Samsung Galaxy A32    79999
22          Samsung Galaxy A23    74199
23          Samsung Galaxy A03    26799
24          Samsung Galaxy M04    29999
25          Samsung Galaxy M24    64999
26       Samsung Galaxy M34 5G    69999
27          Samsung Galaxy M54    79999
28     Samsung Galaxy S23 Plus   499000
29          Samsung Galaxy F54    74499
30       Samsung Galaxy Z Flip   131999
31  Samsung Galaxy Z Fold 3 5G   305999
32    Samsung Galaxy S21 Ultra   225499
33       Samsung Galaxy S20 FE    95999
34      Samsung Galaxy A52s 5G    84999

# Dealing with duplicates and missing values

In [34]:
df2.duplicated().sum()

0

In [35]:
df1.isnull().sum().sum()

0

In [36]:
# Display both DataFrames in a single output cell
from IPython.display import display

display(df1)
display(df2)

                     Product   Price
0         Samsung Galaxy A14   36699
1         Samsung Galaxy A54  117999
2   Samsung Galaxy S22 Ultra  341999
3         Samsung Galaxy A03   35299
4   Samsung Galaxy S23 Ultra  288999
5        Samsung Galaxy A04s   39700
6         Samsung Galaxy A24   76099
7    Samsung Galaxy Z Flip 4  224999
8         Samsung Galaxy A13   50499
9         Samsung Galaxy A04   35399
10        Samsung Galaxy A24   71099
11        Samsung Galaxy A04   34999
12        Samsung Galaxy A54  166599
13        Samsung Galaxy A14   54399
14        Samsung Galaxy A54  139099
15        Samsung Galaxy A14   52299
16        Samsung Galaxy A13   53499
17        Samsung Galaxy A34  142499
21        Samsung Galaxy A04   39399

                       Product    Price
0           Samsung Galaxy A13    45799
1           Samsung Galaxy A14    49999
2          Samsung Galaxy A04s    36199
3        Samsung Galaxy A24 4G    67499
4           Samsung Galaxy A04    27199
5          Samsung Galaxy A04e    29099
6     Samsung Galaxy S22 Ultra   375499
7      Samsung Galaxy Z Flip 5   349999
8        Samsung Galaxy A33 5G   105999
9        Samsung Galaxy A54 5G   140999
10    Samsung Galaxy S23 Ultra   504999
11     Samsung Galaxy Z Fold 4   499999
12     Samsung Galaxy Z Flip 4   255499
13          Samsung Galaxy A34   104999
14          Samsung Galaxy A22    66499
15       Samsung Galaxy S21 FE   194999
16       Samsung Galaxy A53 5G   121499
17          Samsung Galaxy S22   265999
18          Samsung Galaxy S23   359999
19          Samsung Galaxy A73   197999
20     Samsung Galaxy Z Fold 5   526999
21          Samsung Galaxy A32    79999
22          Samsung Galaxy A23    74199
23          Samsung Galaxy A03    26799
24          Samsung Galaxy M04    29999
25          Samsung Galaxy M24    64999
26       Samsung Galaxy M34 5G    69999
27          Samsung Galaxy M54    79999
28     Samsung Galaxy S23 Plus   499000
29          Samsung Galaxy F54    74499
30       Samsung Galaxy Z Flip   131999
31  Samsung Galaxy Z Fold 3 5G   305999
32    Samsung Galaxy S21 Ultra   225499
33       Samsung Galaxy S20 FE    95999
34      Samsung Galaxy A52s 5G    84999

# Comparing price of Samsung Galaxy A04

In [37]:
#Variable which is being compared
product_to_compare = 'Samsung Galaxy A04'

# Retrieve the prices of 'Samsung Galaxy A04' from df1 and df2
price_web1 = df1[df1['Product'] == product_to_compare]['Price'].values[0]
price_web2 = df2[df2['Product'] == product_to_compare]['Price'].values[0]

# Compare the prices and determine which website offers the better price
better_website = 'Homeshopping Website' if price_web1 < price_web2 else 'Priceoye Website'

print(f"Comparing {product_to_compare}, it has a better price on {better_website}.")

Comparing Samsung Galaxy A04, it has a better price on Priceoye Website.