In [15]:
import requests
from bs4 import BeautifulSoup

In [16]:
url1="https://www.daraz.pk/catalog/?spm=a2a0e.home.cate_7_1.12.1a014076iZT31f&q=samsung%20%20mobile&_keyori=ss&clickTrackInfo=textId--5062603309516099878__abId--300703__pvid--35b2f2d7-4e10-4983-9732-723540879cb9__matchType--1__srcQuery--samsung%20%20mobile__spellQuery--samsung%20%20mobile&from=suggest_normal&sugg=samsung%20%20mobile_1_1"
url2="https://priceoye.pk/mobiles/samsung"
url3="https://homeshopping.pk/categories/Samsung-Mobile-Prices-In-Pakistan/"

In [26]:
r1=requests.get(url1)

In [27]:
r2=requests.get(url2)

In [28]:
r3=requests.get(url3)

In [33]:
soup=BeautifulSoup(r3.text,"lxml")

In [58]:
# soup.find_all('h5',class_ ="ProductDetails")

In [42]:
soup.find('h5', class_='ProductDetails').a.text

'Samsung Galaxy A14 (4G 4GB 64GB Black Mist w/o warranty) - PTA Approved'

In [52]:
# soup.find_all('h5', class_='ProductDetails')

In [49]:
names=soup.find_all('h5', class_='ProductDetails')

In [50]:
for i in names:
    print(i.text)

Samsung Galaxy A14 (4G 4GB 64GB Black Mist w/o warranty) - PTA Approved


Samsung Galaxy A54 (5G 8GB 128GB Awesome Graphite w/o warranty) - PTA Approved


Samsung Galaxy S22 Ultra (5G 12GB 256GB Burgundy) With Official Warranty


Samsung Galaxy A03 (4G 4GB 64GB Black) With Official Warranty


Samsung Galaxy S23 Ultra (5G 12GB 256GB Green) - Non PTA


Samsung Galaxy A04s (4G 4GB 128GB Awesome White) With Official Warranty


Samsung Galaxy A24 (4G 8GB 128GB Silver) With Official Warranty


Samsung Galaxy A13 (4G 4GB 64GB Awesome Black) With Official Warranty


Samsung Galaxy A04 (4G 4GB 64GB Black) With Official Warranty


Samsung Galaxy A04 (4G 3GB 32GB Green) With Official Warranty


Samsung Galaxy Z Flip 4 (5G 8GB 256GB Blue) - With Official Warranty


Samsung Galaxy A24 (4G 6GB 128GB Black) With Official Warranty


Samsung Galaxy A14 (4G 6GB 128GB Green) - With Official Warranty


Samsung Galaxy A54 (5G 8GB 128GB Awesome Lime) - With Official Warranty


Samsung Galaxy A14 (4G 4GB 128GB Black Mist) - With Official Warranty


Samsung Galaxy A54 (5G 8GB 128GB Awesome Graphite) - With Official Warranty


Samsung Galaxy A34 (5G 8GB 128GB Awesome Lime) With Official Warranty


Samsung Galaxy S22 Ultra (5G 12GB 256GB White) With Official Warranty


Samsung Galaxy A04 (4G 4GB 64GB White) With Official Warranty


Samsung Galaxy S23 Ultra (5G 12GB 256GB Cream) - Non PTA


Samsung Galaxy A14 (4G 4GB 128GB Green) - With Official Warranty


Samsung Galaxy A13 (4G 4GB 128GB Awesome Black) With Official Warranty


Samsung Galaxy A54 (5G 8GB 128GB Awesome White) - With Official Warranty


Samsung Galaxy A13 (4G 4GB 64GB Awesome Blue) With Official Warranty

In [57]:
price_elements = soup.find_all('div', class_='ActualPrice')

In [56]:
for i in price_elements:
    print(i.text)

 Rs 36,699
 Rs 117,999
 Rs 341,999
 Rs 35,299
 Rs 288,999
 Rs 39,700
 Rs 76,099
 Rs 50,499
 Rs 35,399
 Rs 34,999
 Rs 224,999
 Rs 71,099
 Rs 54,399
 Rs 166,599
 Rs 52,299
 Rs 139,099
 Rs 142,499
 Rs 341,999
 Rs 39,399
 Rs 288,999
 Rs 52,299
 Rs 53,499
 Rs 139,099
 Rs 50,499

In [59]:
import pandas as pd

In [60]:
# Find all elements with class "ProductDetails"
names = soup.find_all('h5', class_='ProductDetails')

# Initialize lists to store product names and prices
product_names = []


# Loop through each product listing
for name in names:
    product_name = name.a.text.strip()
    product_names.append(product_name)

In [63]:
# Find all elements with class "ActualPrice"
# price_elements = soup.find_all('div', class='ActualPrice')
price_elements = soup.find_all('div', class_='ActualPrice')
prices = [] 

# Loop through each price element
for price_element in price_elements:
    price = price_element.text.strip()
    prices.append(price)

In [64]:
# Create a DataFrame with two columns
df = pd.DataFrame({'Details': product_names, 'Price': prices})

# Print the DataFrame
print(df)

                                              Details       Price
0   Samsung Galaxy A14 (4G 4GB 64GB Black Mist w/o...   Rs 36,699
1   Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...  Rs 117,999
2   Samsung Galaxy S22 Ultra (5G 12GB 256GB Burgun...  Rs 341,999
3   Samsung Galaxy A03 (4G 4GB 64GB Black) With Of...   Rs 35,299
4   Samsung Galaxy S23 Ultra (5G 12GB 256GB Green)...  Rs 288,999
5   Samsung Galaxy A04s (4G 4GB 128GB Awesome Whit...   Rs 39,700
6   Samsung Galaxy A24 (4G 8GB 128GB Silver) With ...   Rs 76,099
7   Samsung Galaxy A13 (4G 4GB 64GB Awesome Black)...   Rs 50,499
8   Samsung Galaxy A04 (4G 4GB 64GB Black) With Of...   Rs 35,399
9   Samsung Galaxy A04 (4G 3GB 32GB Green) With Of...   Rs 34,999
10  Samsung Galaxy Z Flip 4 (5G 8GB 256GB Blue) - ...  Rs 224,999
11  Samsung Galaxy A24 (4G 6GB 128GB Black) With O...   Rs 71,099
12  Samsung Galaxy A14 (4G 6GB 128GB Green) - With...   Rs 54,399
13  Samsung Galaxy A54 (5G 8GB 128GB Awesome Lime)...  Rs 166,599
14  Samsung Galaxy A14 (4G 4GB 128GB Black Mist) -...   Rs 52,299
15  Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...  Rs 139,099
16  Samsung Galaxy A34 (5G 8GB 128GB Awesome Lime)...  Rs 142,499
17  Samsung Galaxy S22 Ultra (5G 12GB 256GB White)...  Rs 341,999
18  Samsung Galaxy A04 (4G 4GB 64GB White) With Of...   Rs 39,399
19  Samsung Galaxy S23 Ultra (5G 12GB 256GB Cream)...  Rs 288,999
20  Samsung Galaxy A14 (4G 4GB 128GB Green) - With...   Rs 52,299
21  Samsung Galaxy A13 (4G 4GB 128GB Awesome Black...   Rs 53,499
22  Samsung Galaxy A54 (5G 8GB 128GB Awesome White...  Rs 139,099
23  Samsung Galaxy A13 (4G 4GB 64GB Awesome Blue) ...   Rs 50,499

In [65]:
# Remove text within parentheses using regular expressions
df['Details']

0     Samsung Galaxy A14 (4G 4GB 64GB Black Mist w/o...
1     Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...
2     Samsung Galaxy S22 Ultra (5G 12GB 256GB Burgun...
3     Samsung Galaxy A03 (4G 4GB 64GB Black) With Of...
4     Samsung Galaxy S23 Ultra (5G 12GB 256GB Green)...
5     Samsung Galaxy A04s (4G 4GB 128GB Awesome Whit...
6     Samsung Galaxy A24 (4G 8GB 128GB Silver) With ...
7     Samsung Galaxy A13 (4G 4GB 64GB Awesome Black)...
8     Samsung Galaxy A04 (4G 4GB 64GB Black) With Of...
9     Samsung Galaxy A04 (4G 3GB 32GB Green) With Of...
10    Samsung Galaxy Z Flip 4 (5G 8GB 256GB Blue) - ...
11    Samsung Galaxy A24 (4G 6GB 128GB Black) With O...
12    Samsung Galaxy A14 (4G 6GB 128GB Green) - With...
13    Samsung Galaxy A54 (5G 8GB 128GB Awesome Lime)...
14    Samsung Galaxy A14 (4G 4GB 128GB Black Mist) -...
15    Samsung Galaxy A54 (5G 8GB 128GB Awesome Graph...
16    Samsung Galaxy A34 (5G 8GB 128GB Awesome Lime)...
17    Samsung Galaxy S22 Ultra (5G 12GB 256GB White)...
18    Samsung Galaxy A04 (4G 4GB 64GB White) With Of...
19    Samsung Galaxy S23 Ultra (5G 12GB 256GB Cream)...
20    Samsung Galaxy A14 (4G 4GB 128GB Green) - With...
21    Samsung Galaxy A13 (4G 4GB 128GB Awesome Black...
22    Samsung Galaxy A54 (5G 8GB 128GB Awesome White...
23    Samsung Galaxy A13 (4G 4GB 64GB Awesome Blue) ...
Name: Details, dtype: object

In [66]:
# Remove text within parentheses using regular expressions
df['Details'] = df['Details'].str.replace(r'\([^)]*\)', '', regex=True)

In [73]:
# df['Details'].detail()

In [74]:
df['Details'][0]

'Samsung Galaxy A14  - PTA Approved'

In [75]:
# Split the "Details" column at the hyphen and keep only the part before the hyphen
df['Details'] = df['Details'].str.split(' - ').str[0]

# Print the updated DataFrame
print(df)

                                             Details       Price
0                                Samsung Galaxy A14    Rs 36,699
1                                Samsung Galaxy A54   Rs 117,999
2   Samsung Galaxy S22 Ultra  With Official Warranty  Rs 341,999
3         Samsung Galaxy A03  With Official Warranty   Rs 35,299
4                          Samsung Galaxy S23 Ultra   Rs 288,999
5        Samsung Galaxy A04s  With Official Warranty   Rs 39,700
6         Samsung Galaxy A24  With Official Warranty   Rs 76,099
7         Samsung Galaxy A13  With Official Warranty   Rs 50,499
8         Samsung Galaxy A04  With Official Warranty   Rs 35,399
9         Samsung Galaxy A04  With Official Warranty   Rs 34,999
10                          Samsung Galaxy Z Flip 4   Rs 224,999
11        Samsung Galaxy A24  With Official Warranty   Rs 71,099
12                               Samsung Galaxy A14    Rs 54,399
13                               Samsung Galaxy A54   Rs 166,599
14                               Samsung Galaxy A14    Rs 52,299
15                               Samsung Galaxy A54   Rs 139,099
16        Samsung Galaxy A34  With Official Warranty  Rs 142,499
17  Samsung Galaxy S22 Ultra  With Official Warranty  Rs 341,999
18        Samsung Galaxy A04  With Official Warranty   Rs 39,399
19                         Samsung Galaxy S23 Ultra   Rs 288,999
20                               Samsung Galaxy A14    Rs 52,299
21        Samsung Galaxy A13  With Official Warranty   Rs 53,499
22                               Samsung Galaxy A54   Rs 139,099
23        Samsung Galaxy A13  With Official Warranty   Rs 50,499

In [76]:
# Remove "With Official Warranty" if it appears at the end of the "Details" column
df['Details'] = df['Details'].str.replace(r'\s*With Official Warranty$', '', regex=True)

# Print the updated DataFrame
print(df)

                      Details       Price
0         Samsung Galaxy A14    Rs 36,699
1         Samsung Galaxy A54   Rs 117,999
2    Samsung Galaxy S22 Ultra  Rs 341,999
3          Samsung Galaxy A03   Rs 35,299
4   Samsung Galaxy S23 Ultra   Rs 288,999
5         Samsung Galaxy A04s   Rs 39,700
6          Samsung Galaxy A24   Rs 76,099
7          Samsung Galaxy A13   Rs 50,499
8          Samsung Galaxy A04   Rs 35,399
9          Samsung Galaxy A04   Rs 34,999
10   Samsung Galaxy Z Flip 4   Rs 224,999
11         Samsung Galaxy A24   Rs 71,099
12        Samsung Galaxy A14    Rs 54,399
13        Samsung Galaxy A54   Rs 166,599
14        Samsung Galaxy A14    Rs 52,299
15        Samsung Galaxy A54   Rs 139,099
16         Samsung Galaxy A34  Rs 142,499
17   Samsung Galaxy S22 Ultra  Rs 341,999
18         Samsung Galaxy A04   Rs 39,399
19  Samsung Galaxy S23 Ultra   Rs 288,999
20        Samsung Galaxy A14    Rs 52,299
21         Samsung Galaxy A13   Rs 53,499
22        Samsung Galaxy A54   Rs 139,099
23         Samsung Galaxy A13   Rs 50,499

In [77]:
# Remove "Rs" from the "Price" column
df['Price'] = df['Price'].str.replace('Rs', '')

# Print the updated DataFrame
print(df)

                      Details     Price
0         Samsung Galaxy A14     36,699
1         Samsung Galaxy A54    117,999
2    Samsung Galaxy S22 Ultra   341,999
3          Samsung Galaxy A03    35,299
4   Samsung Galaxy S23 Ultra    288,999
5         Samsung Galaxy A04s    39,700
6          Samsung Galaxy A24    76,099
7          Samsung Galaxy A13    50,499
8          Samsung Galaxy A04    35,399
9          Samsung Galaxy A04    34,999
10   Samsung Galaxy Z Flip 4    224,999
11         Samsung Galaxy A24    71,099
12        Samsung Galaxy A14     54,399
13        Samsung Galaxy A54    166,599
14        Samsung Galaxy A14     52,299
15        Samsung Galaxy A54    139,099
16         Samsung Galaxy A34   142,499
17   Samsung Galaxy S22 Ultra   341,999
18         Samsung Galaxy A04    39,399
19  Samsung Galaxy S23 Ultra    288,999
20        Samsung Galaxy A14     52,299
21         Samsung Galaxy A13    53,499
22        Samsung Galaxy A54    139,099
23         Samsung Galaxy A13    50,499

In [78]:
# Remove leading and trailing spaces from both columns
df['Details'] = df['Details'].str.strip()
df['Price'] = df['Price'].str.strip()

# Print the updated DataFrame
print(df)

                     Details    Price
0         Samsung Galaxy A14   36,699
1         Samsung Galaxy A54  117,999
2   Samsung Galaxy S22 Ultra  341,999
3         Samsung Galaxy A03   35,299
4   Samsung Galaxy S23 Ultra  288,999
5        Samsung Galaxy A04s   39,700
6         Samsung Galaxy A24   76,099
7         Samsung Galaxy A13   50,499
8         Samsung Galaxy A04   35,399
9         Samsung Galaxy A04   34,999
10   Samsung Galaxy Z Flip 4  224,999
11        Samsung Galaxy A24   71,099
12        Samsung Galaxy A14   54,399
13        Samsung Galaxy A54  166,599
14        Samsung Galaxy A14   52,299
15        Samsung Galaxy A54  139,099
16        Samsung Galaxy A34  142,499
17  Samsung Galaxy S22 Ultra  341,999
18        Samsung Galaxy A04   39,399
19  Samsung Galaxy S23 Ultra  288,999
20        Samsung Galaxy A14   52,299
21        Samsung Galaxy A13   53,499
22        Samsung Galaxy A54  139,099
23        Samsung Galaxy A13   50,499